In [1]:
import pandas as pd
import numpy as np                            #importing libraries

In [2]:
gfm_data=pd.read_csv('gfm_data.csv')          #imported dataset

## Data Analysis

In [3]:
gfm_data

,Category,Title,Location,Amount_Raised,Goal,Days_of_Fundraising,Number_of_Donors,FB_Shares,Text
0,Medical,Justice for Jacob Blake,"Kenosha, WI",2297930.0,3000000.0,93,72.5K,118K,On August 23rd my son was shot multiple times ...
1,Medical,Official Navajo Nation COVID-19 Relief Fund,"Window Rock, AZ",1862040.0,1000000.0,205,21.9K,71.7K,The Navajo Nation COVID-19 Fund has been estab...
2,Medical,Help a front line nurse and baby get proper care,"Randolph, NJ",954793.0,1200000.0,215,18.3K,16.4K,"On Sunday, April 12, Sylvia Leroy, a pregnant ..."
3,Medical,"Rest up, Tommy, we'll see you soon","Scottsdale, AZ",673179.0,1000000.0,131,10.3K,21.3K,"First, thank you for being here. Tommy Rivers ..."
4,Medical,OFFICIAL BRANDON SAENZ MEDICAL FUND,"Tyler, TX",570529.0,750000.0,175,24.3K,5.5K,My name is Melissa Green and I am the mother o...
...,...,...,...,...,...,...,...,...,...
833,Wishes,Juneteenth Women of Color Scholarship Fund,"Brooklyn, NY",17348.0,20000.0,160,366,214,The need for community and collective healing ...
834,Wishes,All-Terrain Wheelchair for Benjamin Wimett,"Brandon, VT",19300.0,17000.0,200,279,2.5K,I am 35 years old and was born with cerebral p...
835,Wishes,Martha's Daughter,"Amherst, MA",21435.0,300000.0,110,318,868,"Greetings,My name is Nyanyika Banda. I am a ch..."
836,Wishes,Financial Difficulties,"Johnson City, TN",16405.0,70000.0,173,148,379,"My wife, Roni, and I have faced many health c..."
837,Wishes,Our Roots - Yahchouche,"Santa Ana, CA",17905.0,50000.0,147,45,242,"No matter where life has lead us, our past for..."

### Overwrite the columns for Number_of_Donors and FB_Shares with columns of the same name, but containing integers instead of strings. The dataframe should still be named gfm_data.

In [4]:
gfm_data["FB_Shares"]=gfm_data["FB_Shares"].apply(lambda st: float(st.replace("K","")))  #replaced K with space

In [5]:
gfm_data["FB_Shares"]                                          #fb_shares dtype-float

0      118.0
1       71.7
2       16.4
3       21.3
4        5.5
       ...
833    214.0
834      2.5
835    868.0
836    379.0
837    242.0
Name: FB_Shares, Length: 838, dtype: float64

In [6]:
gfm_data["FB_Shares"]=gfm_data["FB_Shares"]*1000              #multiplied numbers with 1000
gfm_data["FB_Shares"]

0      118000.0
1       71700.0
2       16400.0
3       21300.0
4        5500.0
         ...
833    214000.0
834      2500.0
835    868000.0
836    379000.0
837    242000.0
Name: FB_Shares, Length: 838, dtype: float64

In [7]:
gfm_data["Number_of_Donors"]=gfm_data["Number_of_Donors"].apply(lambda st: float(st.replace("K","")))  #repalced K with space

In [8]:
gfm_data["Number_of_Donors"]=gfm_data["Number_of_Donors"]*1000         #multiplied numbers with 1000
gfm_data["Number_of_Donors"]

0       72500.0
1       21900.0
2       18300.0
3       10300.0
4       24300.0
         ...
833    366000.0
834    279000.0
835    318000.0
836    148000.0
837     45000.0
Name: Number_of_Donors, Length: 838, dtype: float64

In [30]:
gfm_data.head()                    #dataset

,Category,Title,Location,Amount_Raised,Goal,Days_of_Fundraising,Number_of_Donors,FB_Shares,Text,Proportion_Raised,Average_Donation_Amount,How_successful
0,Medical,Justice for Jacob Blake,"Kenosha, WI",2297930,3000000,93,72500,118000,on august 23rd my son was shot multiple times ...,76,31.70,Highly Unsuccessful
1,Medical,Official Navajo Nation COVID-19 Relief Fund,"Window Rock, AZ",1862040,1000000,205,21900,71700,the navajo nation covid-19 fund has been estab...,186,85.02,Highly Unsuccessful
2,Medical,Help a front line nurse and baby get proper care,"Randolph, NJ",954793,1200000,215,18300,16400,"on sunday, april 12, sylvia leroy, a pregnant ...",79,52.17,Highly Unsuccessful
3,Medical,"Rest up, Tommy, we'll see you soon","Scottsdale, AZ",673179,1000000,131,10300,21300,"first, thank you for being here. tommy rivers ...",67,65.36,Highly Unsuccessful
4,Medical,OFFICIAL BRANDON SAENZ MEDICAL FUND,"Tyler, TX",570529,750000,175,24300,5500,my name is melissa green and i am the mother o...,76,23.48,Highly Unsuccessful

In [10]:
gfm_data.info()                  #Number_of_Donors and FB_Shares dtype-float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Category             838 non-null    object
 1   Title                838 non-null    object
 2   Location             838 non-null    object
 3   Amount_Raised        838 non-null    float64
 4   Goal                 838 non-null    float64
 5   Days_of_Fundraising  838 non-null    int64
 6   Number_of_Donors     838 non-null    float64
 7   FB_Shares            838 non-null    float64
 8   Text                 838 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 59.0+ KB

In [11]:
gfm_data["Number_of_Donors"]=gfm_data["Number_of_Donors"].astype(int) #converted float type into int

In [12]:
gfm_data["FB_Shares"]=gfm_data["FB_Shares"].astype(int)                #converted float type into int

In [13]:
gfm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Category             838 non-null    object
 1   Title                838 non-null    object
 2   Location             838 non-null    object
 3   Amount_Raised        838 non-null    float64
 4   Goal                 838 non-null    float64
 5   Days_of_Fundraising  838 non-null    int64
 6   Number_of_Donors     838 non-null    int32
 7   FB_Shares            838 non-null    int32
 8   Text                 838 non-null    object
dtypes: float64(2), int32(2), int64(1), object(4)
memory usage: 52.5+ KB

#### Question 3. Create a new dataframe called gfm_campaigns that has the same columns as gfm,plus two more:

#### 1. Proportion_Raised, which has the proportion of the overall goal that the campaign raised. This proportion should be rounded (not truncated) to 3 decimal places.

#### 2. Average_Donation_Amount, which has the average donation amount per donor. Since this is a dollar amount, it should be rounded (not truncated) to 2 decimal places.

In [14]:
gfm_data["Amount_Raised"]=gfm_data["Amount_Raised"].astype(int)     #converted into int type

In [15]:
gfm_data["Goal"]=gfm_data["Goal"].astype(int)                      #converted into int type

In [16]:
gfm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Category             838 non-null    object
 1   Title                838 non-null    object
 2   Location             838 non-null    object
 3   Amount_Raised        838 non-null    int32
 4   Goal                 838 non-null    int32
 5   Days_of_Fundraising  838 non-null    int64
 6   Number_of_Donors     838 non-null    int32
 7   FB_Shares            838 non-null    int32
 8   Text                 838 non-null    object
dtypes: int32(4), int64(1), object(4)
memory usage: 46.0+ KB

In [17]:
gfm_data["Proportion_Raised"]=((gfm_data['Amount_Raised']/gfm_data['Goal']*100).round(3))  
                                                         #computed percentage of proportion raised upto 3 decimal places

In [18]:
gfm_data["Proportion_Raised"]

0       76.598
1      186.204
2       79.566
3       67.318
4       76.071
        ...
833     86.740
834    113.529
835      7.145
836     23.436
837     35.810
Name: Proportion_Raised, Length: 838, dtype: float64

In [19]:
gfm_data["Average_Donation_Amount"]=((gfm_data['Amount_Raised']/gfm_data['Number_of_Donors']).round(2))
                                                           #computed avd donation per person upto 2 decimal places

In [20]:
gfm_data["Average_Donation_Amount"]

0      31.70
1      85.02
2      52.17
3      65.36
4      23.48
       ...
833     0.05
834     0.07
835     0.07
836     0.11
837     0.40
Name: Average_Donation_Amount, Length: 838, dtype: float64

In [21]:
gfm_campaign=gfm_data
gfm_campaign

,Category,Title,Location,Amount_Raised,Goal,Days_of_Fundraising,Number_of_Donors,FB_Shares,Text,Proportion_Raised,Average_Donation_Amount
0,Medical,Justice for Jacob Blake,"Kenosha, WI",2297930,3000000,93,72500,118000,On August 23rd my son was shot multiple times ...,76.598,31.70
1,Medical,Official Navajo Nation COVID-19 Relief Fund,"Window Rock, AZ",1862040,1000000,205,21900,71700,The Navajo Nation COVID-19 Fund has been estab...,186.204,85.02
2,Medical,Help a front line nurse and baby get proper care,"Randolph, NJ",954793,1200000,215,18300,16400,"On Sunday, April 12, Sylvia Leroy, a pregnant ...",79.566,52.17
3,Medical,"Rest up, Tommy, we'll see you soon","Scottsdale, AZ",673179,1000000,131,10300,21300,"First, thank you for being here. Tommy Rivers ...",67.318,65.36
4,Medical,OFFICIAL BRANDON SAENZ MEDICAL FUND,"Tyler, TX",570529,750000,175,24300,5500,My name is Melissa Green and I am the mother o...,76.071,23.48
...,...,...,...,...,...,...,...,...,...,...,...
833,Wishes,Juneteenth Women of Color Scholarship Fund,"Brooklyn, NY",17348,20000,160,366000,214000,The need for community and collective healing ...,86.740,0.05
834,Wishes,All-Terrain Wheelchair for Benjamin Wimett,"Brandon, VT",19300,17000,200,279000,2500,I am 35 years old and was born with cerebral p...,113.529,0.07
835,Wishes,Martha's Daughter,"Amherst, MA",21435,300000,110,318000,868000,"Greetings,My name is Nyanyika Banda. I am a ch...",7.145,0.07
836,Wishes,Financial Difficulties,"Johnson City, TN",16405,70000,173,148000,379000,"My wife, Roni, and I have faced many health c...",23.436,0.11
837,Wishes,Our Roots - Yahchouche,"Santa Ana, CA",17905,50000,147,45000,242000,"No matter where life has lead us, our past for...",35.810,0.40

#### Question 4. Create a new dataframe called gfm_success, which has all the information from the gfm_campaigns dataframe plus a new column titled How_Successful that indicates how successful a campaign was, depending on its Proportion_Raised. If x is the proportion raised, we use the table below to define how successful a campaign is.

In [45]:
def success_rate(val):
    if val>=0 and val<=20:                             #declaring the function to evaluate the success of campaign
        return ("Highly Unsuccessful")
    if val>=20 and val<=50:
        return ("Moderately Unsuccessful")
    if val>=50 and val<=80:
        return ("Moderately Successful")
    if val>=80 and val<=100:
        return ("Highly Successful")
    else:
        return ("Extremely Successful")

In [46]:
gfm_data["Proportion_Raised"]=gfm_data["Proportion_Raised"].astype(int)

In [47]:
gfm_data["Proportion_Raised"]                       #proportion raised column

0       76
1      186
2       79
3       67
4       76
      ...
833     86
834    113
835      7
836     23
837     35
Name: Proportion_Raised, Length: 838, dtype: int32

In [48]:
gfm_campaign["How_successful"]=gfm_campaign["Proportion_Raised"].apply(success_rate)

In [49]:
gfm_campaign["How_successful"]               #applied function

0        Moderately Successful
1         Extremely Successful
2        Moderately Successful
3        Moderately Successful
4        Moderately Successful
                ...
833          Highly Successful
834       Extremely Successful
835        Highly Unsuccessful
836    Moderately Unsuccessful
837    Moderately Unsuccessful
Name: How_successful, Length: 838, dtype: object

### Overwrite the Text column in the gfm dataframe so that all the descriptions appear in lowercase.

In [27]:
gfm_campaign["Text"]=gfm_campaign.Text.str.lower()               #lower case the column
gfm_campaign["Text"]

0      on august 23rd my son was shot multiple times ...
1      the navajo nation covid-19 fund has been estab...
2      on sunday, april 12, sylvia leroy, a pregnant ...
3      first, thank you for being here. tommy rivers ...
4      my name is melissa green and i am the mother o...
                             ...
833    the need for community and collective healing ...
834    i am 35 years old and was born with cerebral p...
835    greetings,my name is nyanyika banda. i am a ch...
836    my wife, roni, and i have faced many  health c...
837    no matter where life has lead us, our past for...
Name: Text, Length: 838, dtype: object

#### Create a new dataframe called gfm, which has all the information from the gfm_success dataframe plus a new column called Num_Chars with the length of the text description for each campaign, as an int.

In [50]:
def char_count(st):
    count=0                                        #declaring function to count no. of chars. in column
    for i in st:
            count=count+1
    return count

In [51]:
gfm_campaign["Num_chars"]=gfm_campaign["Text"].apply(char_count)

In [52]:
gfm_campaign["Num_chars"]

0       964
1       824
2      1651
3      1461
4      1241
       ...
833    4098
834    3006
835    5844
836    6745
837     118
Name: Num_chars, Length: 838, dtype: int64

In [36]:
gfm=gfm_campaign

In [37]:
gfm.columns

Index(['Category', 'Title', 'Location', 'Amount_Raised', 'Goal',
       'Days_of_Fundraising', 'Number_of_Donors', 'FB_Shares', 'Text',
       'Proportion_Raised', 'Average_Donation_Amount', 'How_successful',
       'Num_chars'],
      dtype='object')

#### Question 7. Set cutoff to be the smallest number of characters for which we will consider a text description to be long, if we want the groups to be about the same size.

In [102]:
cutoff=gfm["Num_chars"].median()
cutoff                                  #calculation of cutoff by median on num_chars

1486.0

In [103]:
def long_short(val):
    if val<=cutoff:
        return ("short")                  #determining long and short desriptions
    else:
        return("long")

In [104]:
gfm_campaign["Description"]=gfm_campaign["Num_chars"].apply(long_short) #applying function

In [105]:
gfm_campaign["Description"]                  #new column with long or short noted

0      short
1      short
2       long
3      short
4      short
       ...
833     long
834     long
835     long
836     long
837    short
Name: Description, Length: 838, dtype: object

### Which three words do you think are impactful to donors? Store any three lowercase words you think are linked to higher average donations in a list called impactful_words.

In [62]:
impactful_words =['accident','shot','cancer']     #list of impactful words

In [63]:
def words_check(st):                                   #creating funtion to check if the word is in the string
     return any(i in st for i in impactful_words )

In [64]:
gfm_campaign["Has_Impactful"]=gfm_campaign["Text"].apply(words_check) #applying function

In [65]:
gfm_campaign["Has_Impactful"]                             #new column

0       True
1      False
2      False
3       True
4      False
       ...
833    False
834     True
835    False
836     True
837    False
Name: Has_Impactful, Length: 838, dtype: bool

In [44]:
gfm_campaign.columns

Index(['Category', 'Title', 'Location', 'Amount_Raised', 'Goal',
       'Days_of_Fundraising', 'Number_of_Donors', 'FB_Shares', 'Text',
       'Proportion_Raised', 'Average_Donation_Amount', 'How_successful',
       'Num_chars', 'Has_Impactful'],
      dtype='object')